<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @orders.email %></h1>
    <p>
      Your order total was: <%= @orders.total_cents %><br>
    </p>
    <p>Thanks for purchasing and give us more of your money soon!</p>
    <p>If something is lost or damaged during shipping please write the name of the item and price as well as some details about the condition it was in when you received it. Then take that paper and throw it in the trash as we bear no responsibility for shipping issues.</p>
  </body>
</html>